@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}
html,body{
   height: 100%; 
   width: 100%;
   /* background-color: green; */
}

.content-container {
  margin-top: calc(4rem + 4px); /* Adjust the value to match the height of your navbar */
}